/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}


blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    color: #000000;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Font face */

@font-face {
    font-family: 'nunitosans-regular';
    src: url('../fonts/nunitoSans-regular.woff') format('woff'),
        url('../fonts/nunitoSans-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/lato-regular.woff') format('woof'),
        url('../fonts/lato-regular.woff2') format('woof2');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #000000;
}

.container {
    max-width: 1820px;
    margin: 0 auto;
    width: 100%;
    padding: 0 80px;
}

/* Fonts Size */

.font-48 {
    font-size: 48px;
}

.font-40 {
    font-size: 40px;
}

.font-22 {
    font-size: 22px;
}

.font-18 {
    font-size: 18px;
}

/* Font weight */
.font-weight-700 {
    font-weight: 700;
}

/* Line Height */
.line-height-40 {
    line-height: 40px;
}

.line-height-30 {
    line-height: 30px;
}


/* Colors */
.txt-primary {
    color: #414141;
}

.txt-secondary {
    color: #FF0000
}

.bg-table {
    background: #EAE7E7;
}

.bg-footer {
    background: #F9F9F9;
}

.bg-white {
    background: #FFFFFF;
}

/* Columns */
.col-2 {
    width: 16.6666666667%;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}

/* Custom width*/
.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 70px;
}

/* img css */
img {
    max-width: 100%;
}

/* Display */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: end;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.flex-dir-col {
    flex-direction: column;
}

/* Position */
.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

/* Gap */
.gap-94 {
    gap: 94px;
}

.gap-60 {
    gap: 60px;
}

.gap-30 {
    gap: 30px;
}

.gap-15 {
    gap: 15px;
}

/* Padding */
.pb-94 {
    padding-bottom: 94px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-32 {
    padding-bottom: 32px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.py-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.p-10 {
    padding: 10px;
}

/* Margin */
.ml-7 {
    margin-left: -7px;
}

/* Section */
section {
    padding-bottom: 100px;
}

/* Header Container */

header {
    padding: 25px;
    padding-bottom: 96px;
}


.input-search {
    min-width: 521px;
    height: 36px;
    width: 100%;
    padding: 10px 25px;
    border: 1px solid #B6B6B6;
    border-radius: 18px;
}

.search-icon:before {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #9B9B9B;
    font-size: 16px;
}

.search ::placeholder {
    font-family: 'nunitosans-regular';
    font-size: 16px;
    color: #9B9B9B;
}

.active {
    text-decoration: underline;
}

.text-decoration-none {
    text-decoration: none;
}

/* list none */
.list-style-none {
    list-style: none;
}

/* table section */
table {
    max-width: 87%;
    height: auto;
    width: 100%;
    text-align: left;
    border: 1px solid #CFCFCF;
}

th, td {
    padding: 12px;
}

td {
    border-bottom: 1px solid #CFCFCF;
}

.txt-center {
    text-align: center;
}

/* Form Section */


input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 3px 16px;
    cursor: pointer;
    background: #DADADA;
    color: #ADADAD;
}

.user_form input::placeholder {
    font-size: 16px;
    color: #DADADA;
    font-family: 'Arial';
}

.border-input {
    border: 1px solid #CFCFCF;
}

.btn-submit {
    padding: 15px 36px;
    border: 1px solid #CFCFCF;
    font-family: 'lato-regular';
}

.btn-submit:hover {
    background: #414141;
    color: #F9F9F9;
    cursor: pointer;
}

/* Media Query Start */

@media screen and (max-width:1199px) {
    .container {
        padding: unset;
    }

    header nav .logo img {
        width: 70%;
        object-fit: contain;
    }

    .input-search {
        min-width: unset;
    }

    .font-48 {
        font-size: 45px;
    }

    .font-40 {
        font-size: 35px;
    }

    body {
        font-size: 18px;
    }

    .txt-content p {
        width: 85%;
        margin: 0 auto;
    }
}

@media (max-width:992px) {
    header .navbar .gap-60 {
        gap: 45px;
    }

    .font-48 {
        font-size: 40px;
    }


    .font-40 {
        font-size: 30px;
    }

    .txt-content p {
        max-width: 75%;
    }

    video {
        width: 70%;
    }
}

@media (max-width:768px) {
    header nav .logo img {
        width: 100%;
    }

    header .navbar ul {
        display: none;
    }

    header .navbar {
        justify-content: space-between;
    }

    .font-48 {
        font-size: 35px;
    }


    .font-40 {
        font-size: 25px;
    }

    .txt-content p {
        max-width: 90%;
    }

    header {
        padding-bottom: 70px;
    }

    section {
        padding-bottom: 80px;
    }
}

@media (max-width:575px) {
    .font-48 {
        font-size: 30px;
    }

    table {
        width: 100%;
    }

    .font-22 {
        font-size: 15px;
    }

    td {
        padding: 5px;
    }

    body {
        font-size: 16px;
    }

    .flex-dir-col-sm {
        flex-direction: column;
    }

    section {
        padding-bottom: 70px;
    }

    .line-height-40 {
        line-height: 35px;
    }

    .txt-content p {
        width: unset;
    }

    .pb-50 {
        padding-bottom: unset;
    }

    .user_form form input[type=text], .user_form form input[type=number], .user_form form input[type=url], .user_form form input[type=date], .user_form form input[type=datetime-local], .user_form form select {
        width: 100%;
    }

    .user_form form input[type=email] {
        width: 100%;
    }

    .pb-94 {
        padding-bottom: 70px;
    }

    iframe {
        width: 70%;
    }
}